<div class="well">
  SPLASH!
</div>
{{#if user.email}}
    <a {{action 'logout'}}>uitloggen</a>
{{else}}
    <div class="row">
        <div class="large-6 small-6 columns">
            <h2>inloggen</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-6 columns">
            <a class="button medium"{{action 'login'}}>inloggen</a>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-6 columns">
            <h2>registreren</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-6 columns">
            <label>naam: </label>
            {{input valueBinding='name'}}
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-6 columns">
            <label>email: </label>
            {{input valueBinding='email'}}
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-6 columns">
            <a class="button medium" {{action 'register'}}>register</a>
        </div>
    </div>
    
    
    
{{/if}}