<div class="row">
        <div class="large-6 small-6 columns">
            <a class="button medium" {{action 'register'}}>register</a>
        </div>
    </div>

<div class="row">
        <div class="large-6 small-6 columns">
            <h2>kies je naam</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-6 small-6 columns">
            {{input valueBinding='name'}}
        </div>
    </div>
<div class="row">
        <div class="large-6 small-6 columns">
            <h2>kies je avatar</h2>
        </div>
    </div>
    <div class="row">
        <div class="large-12 small-12 columns">
          <ul class="small-block-grid-2">
            <li class="selected"><img {{bind-attr src=selectedAvatar}}></li> 
            <li class="clickable" {{action "selectAvatar" "/images/Boy.png"}}><img src="/images/Boy.png"></li>
            <li class="clickable" {{action "selectAvatar" "/images/Girl.png"}}><img  src="/images/Girl.png"></li>
            <li class="clickable" {{action "selectAvatar" "/images/Girl.png"}}><img  src="/images/Girl.png"></li>
            <li class="clickable" {{action "selectAvatar" "/images/Boy.png"}}><img  src="/images/Boy.png"></li>
        </ul>
        </div>
    </div>
    